[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
google-generativeai = "*"
langchain-google-genai = "*"
ipython = "*"
torch = "==2.1.0"
setuptools = "*"
wheel = "*"
audiocraft = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
